.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#add8e6;
}

.container .search{
    display: flex;
    flex-direction: column;
    width: 400px;
}
